<div id="sidebar" class="sidebar bg-dark">
  <button class="toggle-btn" id="toggle-btn">☰</button>

  <!-- Módulo Applicant -->
  <div id="applicantAccess" class="text-white">
    <h4 class="text-center text-white">Applicant Module</h4>
    <a href="/application-tracker">Application Tracker Dashboard</a>
    <a href="/application-history">Application History</a>
    <a href="/process-details">Process Details</a>
    <a href="/messaging-center">Messaging Center</a>
    <a href="/notifications">Notifications</a>
    <a href="/schedule">Schedule</a>
    <a href="/user-profile">User Profile</a>
    <a href="/stage-feedback">Stage Feedback</a>
    <a href="/document-manager">Document Manager</a>
  </div>

  <!-- Módulo Recruiter -->
  <div id="recruiterAccess" class="mt-4">
    <h4 class="text-center text-white">Recruiter Module</h4>
    <a href="/job-management">Job Management</a>
    <a href="/candidate-list">Candidate List</a>
    <a href="/stage-evaluations">Stage Evaluations</a>
    <a href="/messaging-center">Messaging Center</a>
    <a href="/notifications">Notifications</a>
    <a href="/process-stage-management">Process Stage Management</a>
    <a href="/analytics-reports">Analytics and Reports</a>
    <a href="/talent-pool">Talent Pool</a>
    <a href="/team-collaboration">Team Collaboration</a>
    <a href="/candidate-history">Candidate History</a>
  </div>
</div>

<!-- Main Content -->
<div id="main-content" class="content">
  <div class="container mt-4">
    <h1 class="text-center mb-4">Welcome to the Dashboard</h1>
    <div id="applicantContent">
      <h3 class="text-center">Applicant Access</h3>
      <!-- Content specific to Applicant -->
    </div>

    <div id="recruiterContent" class="mt-4">
      <h3 class="text-center">Recruiter Access</h3>
      <!-- Content specific to Recruiter -->
    </div>
  </div>
</div>

