


<div id="sidebar" class="sidebar bg-dark">
  <button class="toggle-btn" (click)="toggleBtn()" id="toggle-btn">☰</button>

  <!-- Módulo Applicant -->
  <div *ngIf='role == "applicant"'>
    <h4 class="text-center text-white">Applicant Module</h4>
    <a href="home/applicant/application-tracker">Application Tracker Dashboard</a>
    <a href="home/applicant/application-history">Application History</a>
    <a href="home/applicant/process-details">Process Details</a>
    <a href="home/applicant/messaging-center">Messaging Center</a>
    <a href="home/applicant/notifications">Notifications</a>
    <a href="home/applicant/schedule">Schedule</a>
    <a href="home/applicant/user-profile">User Profile</a>
    <a href="home/applicant/stage-feedback">Stage Feedback</a>
    <a href="home/applicant/document-manager">Document Manager</a>
  </div>

  <!-- Módulo Recruiter -->
  <div *ngIf='role == "recruiter"'>
    <h4 class="text-center text-white">Recruiter Module</h4>
    <a href="home/recruiter/job-management">Job Management</a>
    <a href="home/recruiter/candidate-list">Candidate List</a>
    <a href="home/recruiter/stage-evaluations">Stage Evaluations</a>
    <a href="home/recruiter/messaging-center">Messaging Center</a>
    <a href="home/recruiter/notifications">Notifications</a>
    <a href="home/recruiter/process-stage-management">Process Stage Management</a>
    <a href="home/recruiter/analytics-reports">Analytics and Reports</a>
    <a href="home/recruiter/talent-pool">Talent Pool</a>
    <a href="home/recruiter/team-collaboration">Team Collaboration</a>
    <a href="home/recruiter/candidate-history">Candidate History</a>
  </div>
</div>

<!-- Main Content -->
<div id="main-content" class="content">
  <div class="container mt-4">
    <router-outlet />
  </div>
</div>
  
  
