    /* Estilos personalizados */
    body {
        font-family: Arial, sans-serif;
      }
      .sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #343a40;
        padding-top: 20px;
        transition: transform 0.3s ease;
      }
      .sidebar a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        transition: background-color 0.3s;
      }
      .sidebar a:hover {
        background-color: #495057;
      }
      .content {
        margin-left: 250px;
        transition: margin-left 0.3s ease;
      }
      .content.collapsed {
        margin-left: 0;
      }
      .toggle-btn {
        position: absolute;
        top: 20px;
        left: 220px;
        background-color: #343a40;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
      }