
<div class="text-center my-5" style="color: white">
  <h2>Job Management</h2>
</div>

<div class="d-flex justify-content-between">

  <div class="d-flex gap-3 justify-content-start">
    <div class="py-3 text-white">
      <div class="dropdown">
        <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="dropdownMenuButtonTittle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Título
        </button>
        <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let job of jobs; let i = index">
            <a class="dropdown-item" href="#">{{job.titulo}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="py-3 text-white">
      <div class="dropdown">
        <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="dropdownMenuButtonState" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estado
        </button>
        <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Abierto</a>
          <a class="dropdown-item" href="#">En Proceso</a>
          <a class="dropdown-item" href="#">Cerrado</a>
        </div>
      </div>
    </div>

    <div class="py-3 text-white">
      <div class="dropdown">
        <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="dropdownMenuButtonReclutador" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reclutador
        </button>
        <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let job of jobs; let i = index">
            <a class="dropdown-item" href="#">{{job.reclutador}}</a>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="py-3">
    <div class="text-center">
      <div class="m-2 text-center">
        <span class="badge bg-warning text-dark px-3 py-2">🚧 Próximamente</span>
      </div>

      <button type="button" class="btn btn-dark">
        <i class="bi bi-plus-circle"></i>
        Agregar
      </button>

    </div>
    <!-- Etiqueta "Próximamente" que agrupa los botones -->

  </div>
</div>

<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Título</th>
    <th scope="col">Ubicación</th>
    <th scope="col">Contrato</th>
    <th scope="col">Experiencia</th>
    <th scope="col">Tecnologías</th>
    <th scope="col">Fecha</th>
    <th scope="col">Estado</th>
    <th scope="col">#Aplicantes</th>
    <th scope="col">Reclutador</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let job of jobs; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#2C3844' : '#242E38'}">
    <td>{{ job.id }}</td>
    <td>{{ job.titulo }}</td>
    <td>{{ job.ubicacion }}</td>
    <td>{{ job.tipoContrato }}</td>
    <td>{{ job.nivelExperiencia }}</td>
    <td>{{ job.tecnologias }}</td>
    <td>{{ job.fechaPublicacion }}</td>
    <td>{{ job.estado }}</td>
    <td>{{ job.aplicantes }}</td>
    <td>{{ job.reclutador }}</td>
    <td>
      <button class="btn btn-sm btn-secondary me-2" routerLink="/home/recruiter/job-details" >
        <i class="bi bi-pen"></i>
      </button>
      <button class="btn btn-sm btn-danger">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
